* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.calculator {
  /* width:400px;
  height: 500px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.input {
  text-align: right;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(185, 185, 185);
  border: none;
  outline: none;
  padding-right: 5px;
}

input:active {
  border: none;
  outline: none;
}

.item {
  width: 80px;
  height: 50px;
  border: solid 1px rgb(228, 224, 224);
  padding-top: 12px;
}

.last {
  display: flex;
}

.item-zero {
  border: solid 1px rgb(228, 224, 224);
  padding-top: 12px;
  width: 160px;
}

.colr-grey {
  background-color: rgb(212, 212, 212);
}

.colr-orng {
  background-color: rgb(255, 191, 73);
}

.result {
  background-color: #858293;
  padding-right: 5px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 40px);
  background-color: #dfdfdf;
}

.buttons button {
  border: 1px solid #d0d0d0;
}

.buttons button:nth-child(17) {
  grid-area: 5/1/5/3;
}

.buttons button:nth-child(4n),
.buttons button:last-child {
  background-color: #ff8e00;
}
